---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro"
---

  <Layout title="Asisjuridica | Home">
    <Hero 
    title1="Porque cada caso"
    title2="es único"
    subTitle="Soluciones jurídicas personalizadas" 
    text="Soluciones legales responsables, eficientes y a la medida de tus necesidades."
    haveButtons={true}
    url="/images/header-asisjuridica-home.jpg"
    />
  <div class="home">
    <div class="bg"></div>
    <div class="section">
      <div class="flex__container">
        <div class="col">
            <div class="title-section">
              <div class="nosotros-parent">
                <div class="nosotros">Nosotros</div>
                <div class="sub-child"></div>
              </div>
              <b class="algo-sobre-nosotros">Algo sobre nosotros</b>
            </div>
            <div class="somos-una-firma-container">
              <p class="somos-una-firma">
                Somos una firma asesora en material legal y jurídica, que blinda a
                sus clientes con las herramientas idóneas para enfrentar las
                necesidades que se presentan, desde las distintas ramas del
                derecho, orientándolos a la toma de decisiones asertivas.
              </p>
              <p class="somos-una-firma">&nbsp;</p>
              <p class="somos-una-firma">
                Estamos capacitados para brindar una asistencia integral en
                diversas ramas como: LABORAL, CIVIL, ADMINISTRATIVO, FAMILIA,
                PENSIONES Y SEGURIDAD SOCIAL Y COMERCIAL.
              </p>
            </div>
            <div class="buttonprimary2">
              <a href="/nosotros" class="contact-us-now">LEER MÁS</a>
            </div>
          </div>
        <div class="col">
          <img class="nosotros-img" alt="" src="/images/home-algo-sobre-nosotros-asisjuridica.jpg" />
        </div>
      </div>
    </div>
  </div>
  <div class="section-nosotros">
    <div class="nst">
      <div class="col nst1">
        <img class="video-icon" alt="nosotros" src="/images/nosotros1-asisjuridica-home.jpg" />
      </div>
      <div class="col8 nst1">
        <img class="image-icon2" alt="nosotros" src="/images/nosotros2-asisjuridica-home.jpg" />
      </div>
      <div class="col2">     
        <div class="section1">
          <div class="title-section1">
            <div class="nosotros-parent">
              <div class="nosotros">QUE HACEMOS</div>
              <div class="sub-child"></div>
            </div>
            <b class="tu-aliado-legal">Tu aliado legal en toda Colombia</b>
          </div>
          <div class="nuestra-cobertura-nacional">
            Nuestra cobertura nacional, con oficina principal en Medellín y
            presencia en Bogotá, Barranquilla, Cúcuta, Cartagena, Manizales,
            Pereira y otras ciudades, nos permite ofrecer soluciones legales
            eficientes y personalizadas a empresas y particulares en toda
            Colombia.
          </div>
        </div>
      </div>
    </div>
  </div>
    <div class="bg1">
      <div class="section">
        <div class="flex__container">
          <div class="title-section2">
            <div class="nosotros-parent">
              <div class="nosotros">Qué hacemos</div>
              <div class="sub-child"></div>
            </div>
            <b class="servicios-profesionales">Servicios profesionales</b>
          </div>
        </div>
      <div class="list-parent">
        <div class="list">
          <div class="flex__container">
            <div class="card-services">
                <div class="icon-child">
                  <img src="/images/iconos/home/area-comercial-home.png" alt="">
              </div>
              <b class="rea-comercial">Área comercial</b>
              <div class="confa-en-nuestra">
                Confía en nuestra experiencia en derecho comercial. Asesoramos
                en la creación, gestión y protección de tu negocio, desde
                estatutos hasta recuperación de cartera.
              </div>
                <div class="buttonprimary2">
                  <a href="/servicios/area-comercial">ver servicio</a>
                </div>
            </div>
            <div class="card-services">
                <div class="icon-child">
                  <img src="/images/iconos/home/area-laboral-home.png" alt="">
                </div>
              <b class="rea-comercial">Área laboral</b>
              <div class="confa-en-nuestra">
                Protege tu empresa y a tus empleados con nuestra asesoría
                laboral especializada. Elaboramos y revisamos contratos,
                reglamentos y manuales para prevenir conflictos y garantizar
                el cumplimiento legal.
              </div>
              <div class="buttonprimary2">
                <a href="/servicios/area-laboral" >ver servicio</a>
              </div>
            </div>
          </div>
        </div>
        <div class="list">
          <div class="flex__container">
            <div class="card-services">
              <div class="icon-child">
                <img src="/images/iconos/home/area-civil-home.png" alt="">
              </div>
              <b class="rea-comercial">Área civil</b>
              <div class="confa-en-nuestra">
                Recupera tu cartera y protege tu patrimonio. Nuestros expertos
                te brindan soluciones efectivas en recuperación de cartera,
                elaboración de contratos y asuntos de familia.
              </div>
              <div class="buttonprimary2">
                <a href="/servicios/area-civil">ver servicio</a>
              </div>
            </div>
            <div class="card-services">
              <div class="icon-child">
                <img src="/images/iconos/home/area-administrativa-home.png" alt="">
              </div>
              <b class="rea-comercial">Área administrativa</b>
              <div class="simplifica-tus-trmites">
                Simplifica tus trámites y resuelve tus conflictos con el
                Estado. Te ofrecemos asesoría y representación en procesos
                administrativos, demandas y reclamaciones.
              </div>
              <div class="buttonprimary2">
                <a href="/servicios/area-administrativa">ver servicio</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      </div>
      </div>
      <div class="section">
        <div class="section3">
          <div class="flex__container">
            <div class="col2">
              <div class="title-section3">
                <div class="title-section1">
                  <div class="nosotros-parent">
                    <div class="nosotros">INFORMES</div>
                    <div class="sub-child"></div>
                  </div>
                  <b class="tu-aliado-legal"
                    >Información clara y oportuna para tu tranquilidad</b
                  >
                </div>
                <div class="en-asisjuridica-sas-container">
                  <p class="en-asisjuridica-sas">
                    En ASISJURIDICA S.A.S. creemos en la importancia de una
                    comunicación fluida y transparente. Por eso, nos
                    comprometemos a
                  </p>
                  <p class="en-asisjuridica-sas">&nbsp;</p>
                  <p class="somos-una-firma">
                    <b class="mantenerlo-informado">Mantenerlo informado:</b>
                    <span class="a-travs-de-informes-peridico">
                      <span>
                        A través de informes periódicos y actualizaciones
                        constantes sobre el estado de tu caso.</span
                      >
                    </span>
                  </p>
                  <p class="somos-una-firma">
                    <span class="a-travs-de-informes-peridico">
                      <span>&nbsp;</span>
                    </span>
                  </p>
                  <p class="somos-una-firma">
                    <span class="a-travs-de-informes-peridico">
                      <b class="actuar-proactivamente"
                        >Actuar proactivamente:</b
                      >
                      <span>
                        Identificando cualquier situación que pueda afectar tus
                        intereses y tomando las medidas necesarias para
                        protegerlos.</span
                      >
                    </span>
                  </p>
                  <p class="somos-una-firma">
                    <span class="a-travs-de-informes-peridico">
                      <span>&nbsp;</span>
                    </span>
                  </p>
                  <p class="somos-una-firma">
                    <span class="a-travs-de-informes-peridico">
                      <b class="actuar-proactivamente">Estar disponibles:</b>
                      <span>
                        Para responder a tus preguntas y brindarte la
                        información que necesites en cualquier momento.</span
                      >
                    </span>
                  </p>
                  <p class="somos-una-firma">
                    <span class="a-travs-de-informes-peridico">
                      <span>&nbsp;</span>
                    </span>
                  </p>
                  <p class="somos-una-firma">
                    <span class="a-travs-de-informes-peridico">
                      <b class="actuar-proactivamente"
                        >Notificarle oportunamente:</b
                      >
                      <span>
                        Sobre audiencias y diligencias para que puedas
                        participar activamente en su proceso.</span
                      >
                    </span>
                  </p>
                </div>
              </div>
            </div>
            <img class="image-icon3" alt="" src="/images/informacion-oportuna.jpg" />
          </div>
          <div class="row4">
            <div class="card">
              <b class="card__number">89</b>
              <b class="clientes-felicas">Clientes felices</b>
            </div>
            <div class="card">
              <b class="card__number">105</b>
              <b class="clientes-felicas">Casos ganados</b>
            </div>
            <div class="card">
              <b class="card__number">10</b>
              <b class="clientes-felicas">Ciudades</b>
            </div>
          </div>
        </div>
    </div>
  </div>
  </Layout>


