---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/Hero.astro"
---

  <Layout title="Asisjuridica | Nosotros">
    <Hero title1="Conócenos mejor" 
    text="Soluciones legales responsables, eficientes y a la medida de tus necesidades."
    haveButtons={false}
    url="/images/header-asisjuridica-conocenos.jpg"
    />

  <div class="section">
    <div class="nosotros__title">
        <div class="nosotros">Nosotros</div>
        <div class="sub-child"></div>
        <h3>Una familia de expertos a su servicio</h3>
        <p>Somos una firma legal comprometida con el éxito de nuestros clientes</p>
    </div>

    <div class="flex__container">
      <div class="col">
        <img class="image-icon2" alt="expertos a su servicio" src="/images/expertos-a-su-servicio.jpg" />
      </div>
      <div class="col">
        <div class="somos-una-firma1">
          Somos una firma legal comprometida con el éxito de nuestros
          clientes, ofreciendo soluciones jurídicas responsables, eficientes
          y personalizadas en todas las áreas del derecho. Nos destacamos
          por nuestra atención personalizada, experiencia con empresas
          locales y nacionales, uso de tecnología de punta y tarifas
          razonables. Buscamos construir relaciones cercanas y duraderas con
          nuestros clientes, brindando un servicio del más alto nivel.
        </div>
      </div>
    </div>
  </div>
<div class="bg1-nosotros">
  <div class="section"></div>
</div>
  <div class="section">
    <div class="section3-nosotros">
      <div class="flex__container">
        <div class="col2">
          <div class="title-section3">
            <div class="title-section1">
              <h3 class="tu-aliado-legal"
                >Misión</h3>
            </div>
            <div class="en-asisjuridica-sas-container">
              <p>Prestar un excelente servicio profesional en las diferentes áreas del Derecho, con el fin de proporcionar a nuestros clientes asesoría legal y jurídica supliendo las necesidades, dando soluciones efectivas, eficientes y eficaces, así mismo adelantar los diferentes trámites ante los diferentes despachos judiciales y respaldando el proceso de contratación con sus empleados y proveedores, así como la negociación de sus productos, para hacer más seguro y establecer el correcto desempeño de las empresas.
 
                Asi mismo, brindar servicios jurídicos integrales de la más alta calidad y el recaudo de cartera judicial y extrajudicial para entidades del sector público y privado.</p>
            </div>
            <div class="title-section1">
              <h3 class="tu-aliado-legal"
                >Visión</h3>
            </div>
            <div class="en-asisjuridica-sas-container">
            <p>El enfoque principal de ASISJURICA S.A.S., es lograr en el 2030 consolidarnos como una de las mejores firmas del país, con enfoque de excelencia, logrando que nuestros servicios jurídicos y consultoría legal se enmarquen dentro de los más altos estándares de calidad. Ello con el fin de satisfacer íntegramente y en los diferentes campos del derecho, las necesidades de nuestros clientes tanto del sector público como privado, tanto personas naturales como personas jurídicas.</p>
            </div>
          </div>
        </div>
        <img class="image-icon3" alt="mision y vision" src="/images/mision-vision-desktop.jpg" />
      </div>
    </div>
  </div>

  <div class="section">
    <div class="flex__container">
      <div class="col image__container">
        <img class="nosotros-img" alt="" src="/images/contacto-imagen-2-asisjuridica.jpg" />
      </div>
      <div class="col">
        <div class="title-section3">
          <div class="title-section">
            <div class="nosotros-parent">
              <div class="nosotros">Reseña histórica</div>
              <div class="sub-child"></div>
            </div>
            <b class="algo-sobre-nosotros">Experiencia y compromiso</b>
          </div>
          <div class="somos-una-firma-container">
            <p class="somos-una-firma">
              Con más de 10 años de experiencia, somos una firma legal especializada en brindar soluciones jurídicas integrales a empresas de diversos sectores en Colombia. Nuestro equipo multidisciplinario ofrece asesoría personalizada y eficiente en áreas clave como derecho comercial, civil, familiar, laboral, pensiones y administrativo.
            </p>
            <p class="somos-una-firma">&nbsp;</p>
            <p class="somos-una-firma">
              Con más de 10 años de experiencia, somos una firma legal especializada en brindar soluciones jurídicas integrales a empresas de diversos sectores en Colombia. Nuestro equipo multidisciplinario ofrece asesoría personalizada y eficiente en áreas clave como derecho comercial, civil, familiar, laboral, pensiones y administrativo.
            </p>
            <p class="somos-una-firma">
              Utilizamos tecnología de punta para garantizar un servicio ágil y adaptado a tus necesidades, ya sea a través de conexiones permanentes, informes vía web o en línea.
            </p>
            <p class="somos-una-firma">
              Confía en nuestra experiencia y compromiso para proteger tus intereses y alcanzar tus objetivos.
            </p>
          </div>
          </div>
        </div>
      
    </div>
  </div>
  </Layout>


