---
import { getTags } from "../services/blogwp";

interface Tag {
  id: number;
  name: string;
  count: number;
  slug: string;
}

let { tags } = Astro.props as { tags: Tag[] };
tags = await getTags();
---

<section id="tag_cloud-1" class="widget widget_tag_cloud">
  <h2 class="widget-title">Etiquetas</h2>
  <div class="tagcloud">
    {
      tags.map((tag) => (
        <a
          href={`/blog/etiqueta/${tag.slug}`}
          class="tag-cloud-link tag-link-28 tag-link-position-1"
          style="font-size: 8pt;"
          aria-label="app (1 item)"
        >
          {tag.name}
        </a>
      ))
    }
  </div>
</section>
