<div class="home">
  <div class="flex__container_full">
      <div class="col">
        <div class="image__container-full">
          <img src="/images/serviicios-area-civil-te-escuchamos.jpg" alt="contactanos">
        </div>
      </div>
      <div class="col bg1">
        <div class="services">
          <div class="title-section1">
            <div class="nosotros-parent">
              <div class="nosotros">Servicios</div>
              <div class="sub-child"></div>
            </div>
          </div>
          <h3 class="services__title_white">Estamos listos para escucharte</h3>
          <p  class="services__title_white">Protege tu empresa y a tus empleados con nuestra asesoría laboral especializada. Elaboramos y revisamos contratos, reglamentos y manuales para prevenir conflictos y garantizar el cumplimiento legal.</p>
          <a href="/contacto" class="buttonprimary2">Contáctenos</a>
        </div>
      </div>
  </div>
</div>