---
interface Props {

list: string[];
title: string;
image: string;
}

const {  list, title, image } = Astro.props;
---
<div class="home">
  <div class="bg-left"></div>
  <div class="section">
      <div class="flex__container">
          <div class="col image__container">
              <img src={image} alt={title}>
          </div>
          <div class="col services">
              <div class="title-section1">
                <div class="nosotros-parent">
                  <div class="nosotros">Servicios</div>
                  <div class="sub-child"></div>
                </div>
              </div>
              <h3 class="services__title">{title}</h3>
              <ul>
                {list.map((item) => (
                <li>{item}</li>
                ))}
              </ul>
          </div>
      </div>
  </div>
</div>