<div class="section">
    <div class="icons__container">
        <div class="icons__item">
            <img src="/images/iconos/servicios/features-servicios-1.png" alt="">
            <p>Te servimos en <b>cualquier lugar del país</b></p>
        </div>
        <div class="icons__item">
            <img src="/images/iconos/servicios/features-servicios-2.png" alt="">
            <p>Tendrás informes <b>personalizados y oportunos</b></p>
        </div>
        <div class="icons__item">
            <img src="/images/iconos/servicios/features-servicios-3.png" alt="">
            <p>¡Tranquilo! <b>nos ajustamos a tu presupuesto</b></p>
        </div>
        <div class="icons__item">
            <img src="/images/iconos/servicios/features-servicios-4.png" alt="">
            <p>Expertos en <b>diferentes ramas del derecho</b></p>
        </div>
    </div>
</div>